###
# PLEASE NOTE: to be able to run tests: 
#  1) Make a copy of this file under name 'smoke-tests.env'
#  2) Fill in / adjust info as needed (i.e. environment URL, etc.)
#

# DEV environment server - requires authentication
ENVIRONMENT_URL=http://localhost:8088/fhir/rest
